$items-list-bg: #fafafa;

$btn-bg: #f1f1f1;
$btn-active-bg: #cccccc;
$btn-text-color: #000;
$btn-border-color: #ebe7e7;

$shadow-color: #c6c6c6;
$shadow: 2px 4px 10px $shadow-color;

$hover-transition: all .15s ease-in-out;